/* HEADER */
nav div#infos-esquerda {
    width: 50%;
    
}

header div#chamada {
    background-color: blac;
    width: 80%;
    height: 60%;
    margin-top: 100px;
}

header div#chamada h1 {
    width: 90%;
    font-size: 500%;
    margin-left: 18px;

    
}

header div#chamada h4 {
    width: 90%;
    font-size: 300%;
    margin-top: 60px;
    margin-left: 18px;
}

div#chamada a#botao{
    display: none;
}

/* SOBRE*/

section#sobre {
    height: 85vh;
}

section#sobre p {
    font-weight: 600;
}

div#sobre-esquerda, div#sobre-direita {
    background-image: none;
}

div#sobre-meio p {
    font-weight: 600;  
}

/* VALORES */

section#valores div#janela-top {
    height: 650px;
    padding-top: 20px;
}

section#valores div#janela-top p {
    font-size: 135%;
}

section#valores div#janela-top h4 {
    font-size: 600%;
    padding-top: 50px;
    
}

/* FOOTER */

footer div#info ul li {
    font-size: 120%;
    font-weight: 400;
}

footer div#redes-sociais {
    margin-top: -110px;
}



