/*
CORES:

#8C7B26
#40352C
#F2CEAE
#8C6954
#D9A78B

font-family: 'Roboto mono', monospace;
font-family: 'Playfair Display', serif;
*/

* {
    margin: 0; padding: 0;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    transform: uppercase;
    text-align: center;
    color: white;
}

h4, h5, h6 {
    text-align: center;
    font-family: 'Roboto mono', monospace;
}

header{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,4),rgba(0,0,0,0)), url(../imagens/background.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    height: 200px;

    
}

div#logo {
    float: left;
    background-image: url(../imagens/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px; 

    margin-top: 25px;
    margin-left: 50px;

}

nav ul#esquerda {
    float: left;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-top: 70px;
    margin-left: 100px;
    height: 40px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 130%;
    text-decoration: none;
    padding: 10px 30px;
}

nav ul li a:hover {
    background-color: rgba(240, 248, 255, 0.07);
    transition-duration: 0.5s;
    border-radius: 80px;
}

header div#chamada {
    position: absolute;
    width: 50%;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

header div#chamada a {
    text-decoration: none;
    color: white;
}

header div#chamada h4 {
    font-size: 200%;
    margin-bottom: 70px;
    color: #F2CEAE ;
    text-shadow: 4px 6px 12px #000
}

header div#chamada h1 {
    font-size: 400%;
    font-weight: 100px;
    margin-bottom: 25px;
    text-shadow: 4px 6px 12px #000;
    color: #F2CEAE;
}

header div#chamada a {
    font-family: 'Roboto mono', monospace;
    font-size: 120%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    background: linear-gradient(rgb(83, 68, 57)0%, rgb(75, 62, 51)40%, rgba(64,53,44)100%);
    padding: 20px 80px;
    border-radius: 50px;
}



