/*
CORES:

AZUL FORTE: #3C7DA6
AZUL FRACO: #96D2D9
CREME: #F2E8C9
BEGE: #735B2F
MARROM: #401201

font-family: 'Roboto mono', monospace;
font-family: 'Playfair Display', serif;
*/

* {
    margin: 0; padding: 0;
}


header{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,4),rgba(0,0,0,0)), url(../imagens/background.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    height: 200px;    
}

div#logo {
    float: left;
    background-image: url(../imagens/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px; 

    margin-top: 25px;
    margin-left: 50px;

}

nav div#infos-esquerda {
    float: left;
    width: 30%;
    height: 50px;
    margin-top: 90px;
    margin-left: 90px;

}

nav div#infos-esquerda ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav div#infos-esquerda ul li {
    padding: 5px;
}

nav div#infos-esquerda ul li:hover {
    background-color: rgba(255, 255, 255, 0.118);
    border-radius: 80px;
    transition-duration: 0.5s;
}

header div#chamada {
    position: absolute;
    width: 50%;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

header div#chamada h1 {
    font-size: 400%;
    font-weight: 100px;
    margin-bottom: 25px;
    text-shadow: 4px 6px 12px #000;
    color: #ee0808;
}

header div#chamada h4 {
    font-size: 200%;
    margin-bottom: 70px;
    color: white; 
    text-shadow: 3px 1px 5px black;
}

header div#chamada a {
    text-decoration: none;
    color: white;
}

header div#chamada a {
    font-family: 'Roboto mono', monospace;
    font-size: 120%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    background: linear-gradient(rgb(18, 50, 115)0%, rgb(28, 78, 178)50%, rgb(21, 58, 132))100%;
    padding: 20px 80px;
    border-radius: 50px;
}






