/*
font-family: 'Roboto mono', monospace;
font-family: 'Playfair Display', serif;
*/

* {
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    transform: uppercase;
    text-align: center;
}

h4, h5, h6 {
    text-align: center;
    font-family: 'Roboto mono', monospace;
}

p {
    font-size: 160%;
    color: black;
}

/* NAV */

nav div#infos-esquerda ul{
    list-style: none;
}

nav div#infos-esquerda ul li a{
    color: white;
    font-size: 150%;
    text-decoration: none;
}

div#chamada a#botao {
    font-family: 'Roboto mono', monospace;
}

/*--------------*/
/*    SOBRE     */
/*--------------*/

section#sobre h2 {
    font-size: 600%;
    margin-top: 40px;
}

section#sobre div#sobre-meio p {
    font-size: 140%;
}

/*--------------*/
/*    VALORES   */
/*--------------*/

section#valores div#janela-top p {
    font-size: 130%;
    font-family: 'Roboto mono', monospace;
    font-weight: 600;
    line-height: 1.3;
}

section#valores div#janela-top h4 {
    font-size: 500%;
}

/* FOOTER*/ 

footer div#info ul {
    margin-left:15px;
    margin-bottom:120px;
}

footer div#info li {
    list-style: none;
    color:#fff;
    margin-bottom:5px;
}